.carousel-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    margin-top: 4%;
}

.wrapper-carousel {
    max-width: 1200px;
    position: relative;
}

.wrapper-carousel i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background-color: var(--bg-primary);
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper-carousel i:first-child {
    left: -23px;
    z-index: 100;
    display: none;
}

.wrapper-carousel i:last-child {
    right: -23px;
}

.wrapper-carousel .carousel {
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 400px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 14px;
}

.carousel img:first-child {
    margin-left: 0px;
}